In [3]:
import numpy as np
import pandas as pd

In [4]:
billboard = pd.read_csv("billboard.csv")

In [5]:
billboard.head()

,artist,track,date.entered,wk1,wk2,wk3,wk4,wk5,wk6,wk7,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2 Pac,Baby Don't Cry (Keep...,2000-02-26,87,82.0,72.0,77.0,87.0,94.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2Ge+her,The Hardest Part Of ...,2000-09-02,91,87.0,92.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3 Doors Down,Kryptonite,2000-04-08,81,70.0,68.0,67.0,66.0,57.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3 Doors Down,Loser,2000-10-21,76,76.0,72.0,69.0,67.0,65.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,504 Boyz,Wobble Wobble,2000-04-15,57,34.0,25.0,17.0,17.0,31.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
billboard.shape

(317, 79)

In [10]:
billboard.dtypes

artist           object
track            object
date.entered     object
wk1               int64
wk2             float64
                 ...
wk72            float64
wk73            float64
wk74            float64
wk75            float64
wk76            float64
Length: 79, dtype: object

In [11]:
billboard["date.entered"].unique()

array(['2000-02-26', '2000-09-02', '2000-04-08', '2000-10-21',
       '2000-04-15', '2000-08-19', '2000-07-08', '2000-01-29',
       '2000-03-18', '2000-08-26', '2000-04-29', '2000-08-05',
       '1999-11-27', '2000-01-22', '1999-07-17', '2000-04-01',
       '2000-09-16', '2000-11-04', '2000-10-14', '2000-01-01',
       '2000-05-27', '2000-07-22', '2000-09-09', '2000-05-20',
       '2000-04-22', '2000-03-04', '2000-02-19', '1999-10-23',
       '1999-11-13', '1999-12-04', '2000-08-12', '2000-07-29',
       '2000-12-02', '2000-06-10', '2000-06-24', '1999-12-11',
       '2000-09-30', '2000-11-18', '2000-12-16', '1999-11-06',
       '1999-09-11', '2000-05-13', '2000-09-23', '2000-07-01',
       '2000-01-15', '2000-06-03', '2000-03-25', '2000-12-23',
       '1999-12-25', '2000-10-07', '2000-02-12', '2000-01-08',
       '2000-05-06', '2000-06-17', '2000-07-15', '1999-10-16',
       '2000-10-28', '2000-11-11', '2000-03-11', '1999-12-18',
       '1999-09-04', '1999-10-09', '2000-02-05', '2000-11-25',
       '1999-06-05', '1999-11-20', '1999-10-30', '2000-12-30'],
      dtype=object)

In [13]:
billboard['artist'].value_counts()

artist
Jay-Z                   5
Houston, Whitney        4
Dixie Chicks, The       4
Backstreet Boys, The    3
DMX                     3
                       ..
Yankee Grey             1
Yearwood, Trisha        1
Ying Yang Twins         1
Zombie Nation           1
matchbox twenty         1
Name: count, Length: 228, dtype: int64

In [14]:
billboard['wk1'].describe()

count    317.000000
mean      79.958991
std       14.686865
min       15.000000
25%       74.000000
50%       81.000000
75%       91.000000
max      100.000000
Name: wk1, dtype: float64

In [15]:
Whitney_Houston = billboard[billboard['artist'] == 'Houston, Whitney']

In [16]:
Whitney_Houston

,artist,track,date.entered,wk1,wk2,wk3,wk4,wk5,wk6,wk7,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
126,"Houston, Whitney",Could I Have This Ki...,2000-06-17,74,68.0,68.0,67.0,59.0,59.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,"Houston, Whitney",I Learned From The B...,2000-02-19,83,83.0,83.0,40.0,28.0,27.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,"Houston, Whitney",My Love Is Your Love,1999-09-04,81,68.0,44.0,16.0,11.0,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,"Houston, Whitney","Same Script, Differe...",2000-06-17,71,71.0,71.0,71.0,70.0,75.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
Whitney_Houston = Whitney_Houston.iloc[:, 0:12] # save the first 12 columns and keep all the rows

In [20]:
Whitney_Houston.loc[:, 'wk1':'wk9'].mean()

wk1    77.25
wk2    72.50
wk3    66.50
wk4    48.50
wk5    42.00
wk6    42.50
wk7    43.25
wk8    45.75
wk9    51.50
dtype: float64

In [21]:
Whitney_Houston.loc[:, 'wk1':'wk9'].mean(axis = 0) # by each column

wk1    77.25
wk2    72.50
wk3    66.50
wk4    48.50
wk5    42.00
wk6    42.50
wk7    43.25
wk8    45.75
wk9    51.50
dtype: float64

In [22]:
Whitney_Houston.loc[:, 'wk1':'wk9'].mean(axis = 1) # by each row

126    62.333333
127    51.222222
128    28.000000
129    76.111111
dtype: float64

In [24]:
# let's make our data set look longer
Whitney_Houston.melt(id_vars = ['artist', 'track', 'date.entered'], var_name = 'week', value_name = 'rank')

              artist                    track date.entered week  rank
0   Houston, Whitney  Could I Have This Ki...   2000-06-17  wk1  74.0
1   Houston, Whitney  I Learned From The B...   2000-02-19  wk1  83.0
2   Houston, Whitney     My Love Is Your Love   1999-09-04  wk1  81.0
3   Houston, Whitney  Same Script, Differe...   2000-06-17  wk1  71.0
4   Houston, Whitney  Could I Have This Ki...   2000-06-17  wk2  68.0
5   Houston, Whitney  I Learned From The B...   2000-02-19  wk2  83.0
6   Houston, Whitney     My Love Is Your Love   1999-09-04  wk2  68.0
7   Houston, Whitney  Same Script, Differe...   2000-06-17  wk2  71.0
8   Houston, Whitney  Could I Have This Ki...   2000-06-17  wk3  68.0
9   Houston, Whitney  I Learned From The B...   2000-02-19  wk3  83.0
10  Houston, Whitney     My Love Is Your Love   1999-09-04  wk3  44.0
11  Houston, Whitney  Same Script, Differe...   2000-06-17  wk3  71.0
12  Houston, Whitney  Could I Have This Ki...   2000-06-17  wk4  67.0
13  Houston, Whitney  I Learned From The B...   2000-02-19  wk4  40.0
14  Houston, Whitney     My Love Is Your Love   1999-09-04  wk4  16.0
15  Houston, Whitney  Same Script, Differe...   2000-06-17  wk4  71.0
16  Houston, Whitney  Could I Have This Ki...   2000-06-17  wk5  59.0
17  Houston, Whitney  I Learned From The B...   2000-02-19  wk5  28.0
18  Houston, Whitney     My Love Is Your Love   1999-09-04  wk5  11.0
19  Houston, Whitney  Same Script, Differe...   2000-06-17  wk5  70.0
20  Houston, Whitney  Could I Have This Ki...   2000-06-17  wk6  59.0
21  Houston, Whitney  I Learned From The B...   2000-02-19  wk6  27.0
22  Houston, Whitney     My Love Is Your Love   1999-09-04  wk6   9.0
23  Houston, Whitney  Same Script, Differe...   2000-06-17  wk6  75.0
24  Houston, Whitney  Could I Have This Ki...   2000-06-17  wk7  60.0
25  Houston, Whitney  I Learned From The B...   2000-02-19  wk7  28.0
26  Houston, Whitney     My Love Is Your Love   1999-09-04  wk7   8.0
27  Houston, Whitney  Same Script, Differe...   2000-06-17  wk7  77.0
28  Houston, Whitney  Could I Have This Ki...   2000-06-17  wk8  52.0
29  Houston, Whitney  I Learned From The B...   2000-02-19  wk8  36.0
30  Houston, Whitney     My Love Is Your Love   1999-09-04  wk8   7.0
31  Houston, Whitney  Same Script, Differe...   2000-06-17  wk8  88.0
32  Houston, Whitney  Could I Have This Ki...   2000-06-17  wk9  54.0
33  Houston, Whitney  I Learned From The B...   2000-02-19  wk9  53.0
34  Houston, Whitney     My Love Is Your Love   1999-09-04  wk9   8.0
35  Houston, Whitney  Same Script, Differe...   2000-06-17  wk9  91.0

In [26]:
# let's make our data set look longer
Whitney_Houston.melt(id_vars = ['artist', 'track', 'date.entered'], var_name = 'week', value_name = 'rank').sort_values(by = ['track', 'week'])

              artist                    track date.entered week  rank
0   Houston, Whitney  Could I Have This Ki...   2000-06-17  wk1  74.0
4   Houston, Whitney  Could I Have This Ki...   2000-06-17  wk2  68.0
8   Houston, Whitney  Could I Have This Ki...   2000-06-17  wk3  68.0
12  Houston, Whitney  Could I Have This Ki...   2000-06-17  wk4  67.0
16  Houston, Whitney  Could I Have This Ki...   2000-06-17  wk5  59.0
20  Houston, Whitney  Could I Have This Ki...   2000-06-17  wk6  59.0
24  Houston, Whitney  Could I Have This Ki...   2000-06-17  wk7  60.0
28  Houston, Whitney  Could I Have This Ki...   2000-06-17  wk8  52.0
32  Houston, Whitney  Could I Have This Ki...   2000-06-17  wk9  54.0
1   Houston, Whitney  I Learned From The B...   2000-02-19  wk1  83.0
5   Houston, Whitney  I Learned From The B...   2000-02-19  wk2  83.0
9   Houston, Whitney  I Learned From The B...   2000-02-19  wk3  83.0
13  Houston, Whitney  I Learned From The B...   2000-02-19  wk4  40.0
17  Houston, Whitney  I Learned From The B...   2000-02-19  wk5  28.0
21  Houston, Whitney  I Learned From The B...   2000-02-19  wk6  27.0
25  Houston, Whitney  I Learned From The B...   2000-02-19  wk7  28.0
29  Houston, Whitney  I Learned From The B...   2000-02-19  wk8  36.0
33  Houston, Whitney  I Learned From The B...   2000-02-19  wk9  53.0
2   Houston, Whitney     My Love Is Your Love   1999-09-04  wk1  81.0
6   Houston, Whitney     My Love Is Your Love   1999-09-04  wk2  68.0
10  Houston, Whitney     My Love Is Your Love   1999-09-04  wk3  44.0
14  Houston, Whitney     My Love Is Your Love   1999-09-04  wk4  16.0
18  Houston, Whitney     My Love Is Your Love   1999-09-04  wk5  11.0
22  Houston, Whitney     My Love Is Your Love   1999-09-04  wk6   9.0
26  Houston, Whitney     My Love Is Your Love   1999-09-04  wk7   8.0
30  Houston, Whitney     My Love Is Your Love   1999-09-04  wk8   7.0
34  Houston, Whitney     My Love Is Your Love   1999-09-04  wk9   8.0
3   Houston, Whitney  Same Script, Differe...   2000-06-17  wk1  71.0
7   Houston, Whitney  Same Script, Differe...   2000-06-17  wk2  71.0
11  Houston, Whitney  Same Script, Differe...   2000-06-17  wk3  71.0
15  Houston, Whitney  Same Script, Differe...   2000-06-17  wk4  71.0
19  Houston, Whitney  Same Script, Differe...   2000-06-17  wk5  70.0
23  Houston, Whitney  Same Script, Differe...   2000-06-17  wk6  75.0
27  Houston, Whitney  Same Script, Differe...   2000-06-17  wk7  77.0
31  Houston, Whitney  Same Script, Differe...   2000-06-17  wk8  88.0
35  Houston, Whitney  Same Script, Differe...   2000-06-17  wk9  91.0