In [1]:
import numpy as np
import pandas as pd

In [2]:
migration = pd.read_csv('migration.csv')

In [3]:
mig_org =  pd.read_csv('migration.csv') #save the original data set just in case

In [4]:
migration.head()

,REF_DATE,GEO,DGUID,Interprovincial migration,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1961-07,Canada,2016A000011124,In-migrants,Persons,249,units,0,v509037,1.1,95570,NaN,NaN,NaN,0
1,1961-07,Canada,2016A000011124,Out-migrants,Persons,249,units,0,v509052,1.2,95570,NaN,NaN,NaN,0
2,1961-07,Newfoundland and Labrador,2016A000210,In-migrants,Persons,249,units,0,v509038,2.1,2189,NaN,NaN,NaN,0
3,1961-07,Newfoundland and Labrador,2016A000210,Out-migrants,Persons,249,units,0,v509053,2.2,2160,NaN,NaN,NaN,0
4,1961-07,Prince Edward Island,2016A000211,In-migrants,Persons,249,units,0,v509044,3.1,1558,NaN,NaN,NaN,0

In [6]:
migration.shape

(6544, 15)

In [7]:
migration["GEO"].unique()

array(['Canada', 'Newfoundland and Labrador', 'Prince Edward Island',
       'Nova Scotia', 'New Brunswick', 'Quebec', 'Ontario', 'Manitoba',
       'Saskatchewan', 'Alberta', 'British Columbia', 'Yukon',
       'Northwest Territories including Nunavut', 'Northwest Territories',
       'Nunavut'], dtype=object)

In [8]:
migration["GEO"].value_counts()

GEO
Canada                                     496
Newfoundland and Labrador                  496
Prince Edward Island                       496
Nova Scotia                                496
New Brunswick                              496
Quebec                                     496
Ontario                                    496
Manitoba                                   496
Saskatchewan                               496
Alberta                                    496
British Columbia                           496
Yukon                                      416
Northwest Territories                      256
Nunavut                                    256
Northwest Territories including Nunavut    160
Name: count, dtype: int64

In [9]:
max(migration["VALUE"])

149590

In [10]:
migration["VALUE"].describe()

count      6544.000000
mean      12265.062042
std       21905.384762
min          27.000000
25%        1558.000000
50%        4560.000000
75%       12204.500000
max      149590.000000
Name: VALUE, dtype: float64

In [12]:
# We can obtain the summary statistic of the VALUE column by province 
migration.groupby('GEO')['VALUE'].describe()

,count,mean,std,min,25%,50%,75%,max
GEO,,,,,,,,
Alberta,496.0,15615.909274,5559.816530,6537.0,11371.25,14667.0,18472.75,43621.0
British Columbia,496.0,13493.149194,4874.902411,5578.0,9862.50,12410.5,15855.00,32030.0
Canada,496.0,81001.838710,24970.094191,40587.0,62207.25,75780.5,95645.00,149590.0
Manitoba,496.0,5198.090726,2415.830221,1522.0,3407.25,4604.0,6437.50,15667.0
New Brunswick,496.0,3633.449597,1567.463204,1217.0,2458.25,3238.5,4297.50,9466.0
Newfoundland and Labrador,496.0,2410.171371,949.988366,769.0,1732.00,2221.5,2846.25,5580.0
Northwest Territories,256.0,599.710938,194.664584,166.0,474.75,590.5,728.75,1267.0
Northwest Territories including Nunavut,160.0,993.681250,315.746582,525.0,752.75,930.5,1129.50,2054.0
Nova Scotia,496.0,4743.080645,1848.878086,1808.0,3412.50,4241.5,5693.25,11343.0
Nunavut,256.0,257.828125,114.767804,27.0,177.00,241.5,324.25,729.0
Ontario,496.0,19905.324597,7120.910855,9053.0,14540.75,18724.5,23265.75,49178.0
Prince Edward Island,496.0,830.387097,354.885606,276.0,574.25,740.0,1010.75,2031.0
Quebec,496.0,8384.975806,4021.433855,2953.0,5315.00,7562.5,10613.25,29301.0
Saskatchewan,496.0,5445.897177,2220.175005,2002.0,3923.50,4950.5,6444.50,14968.0
Yukon,416.0,470.093750,195.330645,145.0,320.75,446.5,589.25,1089.0

In [15]:
# Q: can we obtain the same summary from the "REF_DATE" column?

migration["REF_DATE"].describe()

count        6544
unique        248
top       2021-04
freq           28
Name: REF_DATE, dtype: object

In [16]:
migration.dtypes

REF_DATE                      object
GEO                           object
DGUID                         object
Interprovincial migration     object
UOM                           object
UOM_ID                         int64
SCALAR_FACTOR                 object
SCALAR_ID                      int64
VECTOR                        object
COORDINATE                   float64
VALUE                          int64
STATUS                       float64
SYMBOL                       float64
TERMINATED                    object
DECIMALS                       int64
dtype: object

In [24]:
# transform the "REF_DATE" column into a "datetime" typed object.

migration_date = pd.to_datetime(migration['REF_DATE'], format = '%Y-%m') #capital Y since there are 4 digits, the dt.strftime is to get rid of 01 date

In [25]:
migration_date.describe()

count                             6544
mean     1993-08-06 01:50:27.872860672
min                1961-07-01 00:00:00
25%                1978-10-01 00:00:00
50%                1994-04-01 00:00:00
75%                2008-10-01 00:00:00
max                2023-04-01 00:00:00
Name: REF_DATE, dtype: object

In [26]:
# 3. How to select/drop columns

In [27]:
migration.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Interprovincial migration', 'UOM',
       'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE',
       'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [32]:
# let's drop a single column

migration.drop(columns = 'DGUID') # this code itself doesn't modify the original data set;
# you have to save the result to the orignal data to make modification

,REF_DATE,GEO,Interprovincial migration,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1961-07,Canada,In-migrants,Persons,249,units,0,v509037,1.1,95570,NaN,NaN,NaN,0
1,1961-07,Canada,Out-migrants,Persons,249,units,0,v509052,1.2,95570,NaN,NaN,NaN,0
2,1961-07,Newfoundland and Labrador,In-migrants,Persons,249,units,0,v509038,2.1,2189,NaN,NaN,NaN,0
3,1961-07,Newfoundland and Labrador,Out-migrants,Persons,249,units,0,v509053,2.2,2160,NaN,NaN,NaN,0
4,1961-07,Prince Edward Island,In-migrants,Persons,249,units,0,v509044,3.1,1558,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6539,2023-04,Yukon,Out-migrants,Persons,249,units,0,v509055,12.2,767,NaN,NaN,NaN,0
6540,2023-04,Northwest Territories,In-migrants,Persons,249,units,0,v509042,14.1,759,NaN,NaN,NaN,0
6541,2023-04,Northwest Territories,Out-migrants,Persons,249,units,0,v509057,14.2,688,NaN,NaN,NaN,0
6542,2023-04,Nunavut,In-migrants,Persons,249,units,0,v509043,15.1,639,NaN,NaN,NaN,0
6543,2023-04,Nunavut,Out-migrants,Persons,249,units,0,v509058,15.2,603,NaN,NaN,NaN,0

In [33]:
# or you can do this:

migration.drop(columns = 'DGUID', inplace = True) # this code will modify the original data set

In [36]:
migration.columns # can check that DGUID is not included anymore

Index(['REF_DATE', 'GEO', 'Interprovincial migration', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [38]:
# you can drop multiple columns at a time

migration.drop(columns = ['UOM', 'UOM_ID'], inplace = True)

In [39]:
migration.columns

Index(['REF_DATE', 'GEO', 'Interprovincial migration', 'SCALAR_FACTOR',
       'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL',
       'TERMINATED', 'DECIMALS'],
      dtype='object')

In [43]:
# Instead let us select only the necessary columns

migration = migration[['REF_DATE', 'GEO', 'Interprovincial migration', 'VALUE']] # inside bracket to list and outside bracket to apply function

In [44]:
migration.head()

  REF_DATE                        GEO Interprovincial migration  VALUE
0  1961-07                     Canada               In-migrants  95570
1  1961-07                     Canada              Out-migrants  95570
2  1961-07  Newfoundland and Labrador               In-migrants   2189
3  1961-07  Newfoundland and Labrador              Out-migrants   2160
4  1961-07       Prince Edward Island               In-migrants   1558

In [45]:
# You can use .loc (locate method) / .iloc (integer location) functions to select necessary columns

In [46]:
mig_org.loc[:, ['REF_DATE', 'GEO', 'Interprovincial migration', 'VALUE']]
# : if you don't want to modify the rows

     REF_DATE                        GEO Interprovincial migration  VALUE
0     1961-07                     Canada               In-migrants  95570
1     1961-07                     Canada              Out-migrants  95570
2     1961-07  Newfoundland and Labrador               In-migrants   2189
3     1961-07  Newfoundland and Labrador              Out-migrants   2160
4     1961-07       Prince Edward Island               In-migrants   1558
...       ...                        ...                       ...    ...
6539  2023-04                      Yukon              Out-migrants    767
6540  2023-04      Northwest Territories               In-migrants    759
6541  2023-04      Northwest Territories              Out-migrants    688
6542  2023-04                    Nunavut               In-migrants    639
6543  2023-04                    Nunavut              Out-migrants    603

[6544 rows x 4 columns]

In [47]:
# you have to use indices of rows/columns for the iloc function
mig_org.iloc[:,[0, 1, 3, 10,]]

     REF_DATE                        GEO Interprovincial migration  VALUE
0     1961-07                     Canada               In-migrants  95570
1     1961-07                     Canada              Out-migrants  95570
2     1961-07  Newfoundland and Labrador               In-migrants   2189
3     1961-07  Newfoundland and Labrador              Out-migrants   2160
4     1961-07       Prince Edward Island               In-migrants   1558
...       ...                        ...                       ...    ...
6539  2023-04                      Yukon              Out-migrants    767
6540  2023-04      Northwest Territories               In-migrants    759
6541  2023-04      Northwest Territories              Out-migrants    688
6542  2023-04                    Nunavut               In-migrants    639
6543  2023-04                    Nunavut              Out-migrants    603

[6544 rows x 4 columns]

In [48]:
# 4. How to split the "REF_DATE" column?

In [49]:
?str.split

Signature: str.split(self, /, sep=None, maxsplit=-1)
Docstring:
Return a list of the substrings in the string, using sep as the separator string.

  sep
    The separator used to split the string.

    When set to None (the default value), will split on any whitespace
    character (including \n \r \t \f and spaces) and will discard
    empty strings from the result.
  maxsplit
    Maximum number of splits.
    -1 (the default value) means no limit.

Splitting starts at the front of the string and works to the end.

Note, str.split() is mainly useful for data that has been intentionally
delimited.  With natural text that includes punctuation, consider using
the regular expression module.
Type:      method_descriptor

In [54]:
migration[['year', 'month']] = migration['REF_DATE'].str.split('-', expand = True) # specifying the separator is a hyphon, expand to be true to expand data into table

In [58]:
migration

                            GEO Interprovincial migration  VALUE  year month
0                        Canada               In-migrants  95570  1961    07
1                        Canada              Out-migrants  95570  1961    07
2     Newfoundland and Labrador               In-migrants   2189  1961    07
3     Newfoundland and Labrador              Out-migrants   2160  1961    07
4          Prince Edward Island               In-migrants   1558  1961    07
...                         ...                       ...    ...   ...   ...
6539                      Yukon              Out-migrants    767  2023    04
6540      Northwest Territories               In-migrants    759  2023    04
6541      Northwest Territories              Out-migrants    688  2023    04
6542                    Nunavut               In-migrants    639  2023    04
6543                    Nunavut              Out-migrants    603  2023    04

[6544 rows x 5 columns]

In [57]:
# We don't need the REF_DATE column anymore - lets drop it

migration.drop(columns = 'REF_DATE', inplace = True)

In [59]:
# 5. Change column names & column orders

In [61]:
# Let's move the year and month columns to the very left side of the data set

migration = migration[['year', 'month', 'GEO', 'Interprovincial migration', 'VALUE']]

In [62]:
migration.head()

   year month                        GEO Interprovincial migration  VALUE
0  1961    07                     Canada               In-migrants  95570
1  1961    07                     Canada              Out-migrants  95570
2  1961    07  Newfoundland and Labrador               In-migrants   2189
3  1961    07  Newfoundland and Labrador              Out-migrants   2160
4  1961    07       Prince Edward Island               In-migrants   1558

In [64]:
# Q: how can we change the column name of 'VALUE' to 'count'
# creating a dictionary where VALUE is the key

migration.rename(columns = {'VALUE': 'count'}, inplace = True)

In [65]:
migration.head()

   year month                        GEO Interprovincial migration  count
0  1961    07                     Canada               In-migrants  95570
1  1961    07                     Canada              Out-migrants  95570
2  1961    07  Newfoundland and Labrador               In-migrants   2189
3  1961    07  Newfoundland and Labrador              Out-migrants   2160
4  1961    07       Prince Edward Island               In-migrants   1558

In [67]:
# 6. Filter rows by "masking"

In [68]:
# logical operators

In [70]:
# Is 3 equal to 4?
3 == 4

False

In [71]:
3 != 4

True

In [74]:
# using numpy arrays we can compare multiple values at a time
a = np.array([1,2,3])
b = np.array([1,2,4])

a == b

#comparing 1 to 1, 2 to 2, and 3 to 4

array([ True,  True, False])

In [75]:
# when arithmetic operators are applied to the coutcome of logical operators,
# True is considered as 1 and False is considered as 0

In [76]:
# Q: How many elements from a and b are the same?

In [77]:
np.sum(a == b) # 1(T) + 1(T) + 0(F) = 2

np.int64(2)

In [79]:
# For example, we do not really need the rows whose GEO value is Canada
migration["GEO"] == "Canada"

0        True
1        True
2       False
3       False
4       False
        ...
6539    False
6540    False
6541    False
6542    False
6543    False
Name: GEO, Length: 6544, dtype: bool

In [81]:
# How many rows have "Canada" as the "GEO" value?
np.sum(migration["GEO"] == "Canada") # number of rows whose GEO value is Canada is 496

np.int64(496)

In [82]:
migration["GEO"].value_counts()

GEO
Canada                                     496
Newfoundland and Labrador                  496
Prince Edward Island                       496
Nova Scotia                                496
New Brunswick                              496
Quebec                                     496
Ontario                                    496
Manitoba                                   496
Saskatchewan                               496
Alberta                                    496
British Columbia                           496
Yukon                                      416
Northwest Territories                      256
Nunavut                                    256
Northwest Territories including Nunavut    160
Name: count, dtype: int64

In [83]:
# filter the data set so that we don't have rows with Canada

In [85]:
mig_filtered = migration[migration["GEO"] != "Canada"]

In [86]:
mig_filtered.GEO.unique()

array(['Newfoundland and Labrador', 'Prince Edward Island', 'Nova Scotia',
       'New Brunswick', 'Quebec', 'Ontario', 'Manitoba', 'Saskatchewan',
       'Alberta', 'British Columbia', 'Yukon',
       'Northwest Territories including Nunavut', 'Northwest Territories',
       'Nunavut'], dtype=object)

In [87]:
# 7. Sorting

In [88]:
# Q. How to sort the rows by the value of the "count" column

In [89]:
mig_filtered.head()

   year month                        GEO Interprovincial migration  count
2  1961    07  Newfoundland and Labrador               In-migrants   2189
3  1961    07  Newfoundland and Labrador              Out-migrants   2160
4  1961    07       Prince Edward Island               In-migrants   1558
5  1961    07       Prince Edward Island              Out-migrants    862
6  1961    07                Nova Scotia               In-migrants   7281

In [91]:
mig_filtered.sort_values(by = "count") # automatically sorted by ascending order on 'count'

      year month      GEO Interprovincial migration  count
5926  2017    10  Nunavut               In-migrants     27
6262  2020    10  Nunavut               In-migrants     51
5478  2013    10  Nunavut               In-migrants     70
5814  2016    10  Nunavut               In-migrants     76
4442  2004    07  Nunavut               In-migrants     79
...    ...   ...      ...                       ...    ...
1834  1980    07  Alberta               In-migrants  43621
738   1969    10  Ontario               In-migrants  44182
1829  1980    07  Ontario              Out-migrants  45552
6417  2022    04  Ontario              Out-migrants  45730
826   1970    10  Ontario               In-migrants  49178

[6048 rows x 5 columns]

In [94]:
mig_sorted = mig_filtered.sort_values(by = "count", ascending = False) # sorted in descending order on 'count'

In [95]:
mig_sorted.head()

      year month      GEO Interprovincial migration  count
826   1970    10  Ontario               In-migrants  49178
6417  2022    04  Ontario              Out-migrants  45730
1829  1980    07  Ontario              Out-migrants  45552
738   1969    10  Ontario               In-migrants  44182
1834  1980    07  Alberta               In-migrants  43621

In [96]:
# 8. Pivoting: make your data set look wider/longer?

In [97]:
# essentially changing the format of the data set to present the data in a different way

In [98]:
# Q: Can we transform the data set in a way that the number of in/out migrants are presented in two separate columns?

In [99]:
mig_filtered.pivot(index = ['year', 'month', 'GEO'], columns = 'Interprovincial migration', values = 'count')

Interprovincial migration             In-migrants  Out-migrants
year month GEO
1961 07    Alberta                          13124         11779
           British Columbia                 12341         12224
           Manitoba                          8640          8650
           New Brunswick                     4828          6408
           Newfoundland and Labrador         2189          2160
...                                           ...           ...
2023 04    Ontario                          25077         38930
           Prince Edward Island              1906          1426
           Quebec                            9062         10049
           Saskatchewan                      5924          7841
           Yukon                              722           767

[3024 rows x 2 columns]

In [101]:
?pd.pivot

Signature:
pd.pivot(
    data: 'DataFrame',
    *,
    columns: 'IndexLabel',
    index: 'IndexLabel | lib.NoDefault' = <no_default>,
    values: 'IndexLabel | lib.NoDefault' = <no_default>,
) -> 'DataFrame'
Docstring:
Return reshaped DataFrame organized by given index / column values.

Reshape data (produce a "pivot" table) based on column values. Uses
unique values from specified `index` / `columns` to form axes of the
resulting DataFrame. This function does not support data
aggregation, multiple values will result in a MultiIndex in the
columns. See the :ref:`User Guide <reshaping>` for more on reshaping.

Parameters
----------
data : DataFrame
columns : str or object or a list of str
    Column to use to make new frame's columns.
index : str or object or a list of str, optional
    Column to use to make new frame's index. If not given, uses existing index.
values : str, object or a list of the previous, optional
    Column(s) to use for populating new frame's values. If not
    specified, all remaining columns will be used and the result will
    have hierarchically indexed columns.

Returns
-------
DataFrame
    Returns reshaped DataFrame.

Raises
------
ValueError:
    When there are any `index`, `columns` combinations with multiple
    values. `DataFrame.pivot_table` when you need to aggregate.

See Also
--------
DataFrame.pivot_table : Generalization of pivot that can handle
    duplicate values for one index/column pair.
DataFrame.unstack : Pivot based on the index values instead of a
    column.
wide_to_long : Wide panel to long format. Less flexible but more
    user-friendly than melt.

Notes
-----
For finer-tuned control, see hierarchical indexing documentation along
with the related stack/unstack methods.

Reference :ref:`the user guide <reshaping.pivot>` for more examples.

Examples
--------
>>> df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
...                            'two'],
...                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
...                    'baz': [1, 2, 3, 4, 5, 6],
...                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
>>> df
    foo   bar  baz  zoo
0   one   A    1    x
1   one   B    2    y
2   one   C    3    z
3   two   A    4    q
4   two   B    5    w
5   two   C    6    t

>>> df.pivot(index='foo', columns='bar', values='baz')
bar  A   B   C
foo
one  1   2   3
two  4   5   6

>>> df.pivot(index='foo', columns='bar')['baz']
bar  A   B   C
foo
one  1   2   3
two  4   5   6

>>> df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])
      baz       zoo
bar   A  B  C   A  B  C
foo
one   1  2  3   x  y  z
two   4  5  6   q  w  t

You could also assign a list of column names or a list of index names.

>>> df = pd.DataFrame({
...        "lev1": [1, 1, 1, 2, 2, 2],
...        "lev2": [1, 1, 2, 1, 1, 2],
...        "lev3": [1, 2, 1, 2, 1, 2],
...        "lev4": [1, 2, 3, 4, 5, 6],
...        "values": [0, 1, 2, 3, 4, 5]})
>>> df
    lev1 lev2 lev3 lev4 values
0   1    1    1    1    0
1   1    1    2    2    1
2   1    2    1    3    2
3   2    1    2    4    3
4   2    1    1    5    4
5   2    2    2    6    5

>>> df.pivot(index="lev1", columns=["lev2", "lev3"], values="values")
lev2    1         2
lev3    1    2    1    2
lev1
1     0.0  1.0  2.0  NaN
2     4.0  3.0  NaN  5.0

>>> df.pivot(index=["lev1", "lev2"], columns=["lev3"], values="values")
      lev3    1    2
lev1  lev2
   1     1  0.0  1.0
         2  2.0  NaN
   2     1  4.0  3.0
         2  NaN  5.0

A ValueError is raised if there are any duplicates.

>>> df = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
...                    "bar": ['A', 'A', 'B', 'C'],
...                    "baz": [1, 2, 3, 4]})
>>> df
   foo bar  baz
0  one   A    1
1  one   A    2
2  two   B    3
3  two   C    4

Notice that the first two rows are the same for our `index`
and `columns` arguments.

>>> df.pivot(index='foo', columns='bar', values='baz')
Traceback (most recent call last):
   ...
ValueError: Index contains duplicate entries, cannot reshape
File:      /opt/conda/lib/python3.12/site-packages/pandas/core/reshape/pivot.py
Type:      function

In [102]:
# returns a reshaped DataFrame organized by given index / column values.

In [105]:
# we want to present count of migrants across 4 different months in 4 separate columns

mig_wider_month = mig_filtered.pivot(index = ['year', 'GEO', 'Interprovincial migration'], columns = 'month', values = 'count')

In [106]:
mig_wider_month.head()

month                                            01  04       07       10
year GEO              Interprovincial migration
1961 Alberta          In-migrants               NaN NaN  13124.0  13919.0
                      Out-migrants              NaN NaN  11779.0   9807.0
     British Columbia In-migrants               NaN NaN  12341.0  10804.0
                      Out-migrants              NaN NaN  12224.0   9435.0
     Manitoba         In-migrants               NaN NaN   8640.0   7651.0

In [107]:
mig_wider_month.columns

Index(['01', '04', '07', '10'], dtype='object', name='month')

In [108]:
mig_wider_month.index # row identifyier

MultiIndex([('1961',                   'Alberta',  'In-migrants'),
            ('1961',                   'Alberta', 'Out-migrants'),
            ('1961',          'British Columbia',  'In-migrants'),
            ('1961',          'British Columbia', 'Out-migrants'),
            ('1961',                  'Manitoba',  'In-migrants'),
            ('1961',                  'Manitoba', 'Out-migrants'),
            ('1961',             'New Brunswick',  'In-migrants'),
            ('1961',             'New Brunswick', 'Out-migrants'),
            ('1961', 'Newfoundland and Labrador',  'In-migrants'),
            ('1961', 'Newfoundland and Labrador', 'Out-migrants'),
            ...
            ('2023',                   'Ontario',  'In-migrants'),
            ('2023',                   'Ontario', 'Out-migrants'),
            ('2023',      'Prince Edward Island',  'In-migrants'),
            ('2023',      'Prince Edward Island', 'Out-migrants'),
            ('2023',                    'Quebec',  'In-migrants'),
            ('2023',                    'Quebec', 'Out-migrants'),
            ('2023',              'Saskatchewan',  'In-migrants'),
            ('2023',              'Saskatchewan', 'Out-migrants'),
            ('2023',                     'Yukon',  'In-migrants'),
            ('2023',                     'Yukon', 'Out-migrants')],
           names=['year', 'GEO', 'Interprovincial migration'], length=1540)

In [110]:
mig_wider_month = mig_wider_month.reset_index() # reset index levels to the default one

In [111]:
mig_wider_month

month,year,GEO,Interprovincial migration,01,04,07,10
0,1961,Alberta,In-migrants,NaN,NaN,13124.0,13919.0
1,1961,Alberta,Out-migrants,NaN,NaN,11779.0,9807.0
2,1961,British Columbia,In-migrants,NaN,NaN,12341.0,10804.0
3,1961,British Columbia,Out-migrants,NaN,NaN,12224.0,9435.0
4,1961,Manitoba,In-migrants,NaN,NaN,8640.0,7651.0
...,...,...,...,...,...,...,...
1535,2023,Quebec,Out-migrants,7002.0,10049.0,NaN,NaN
1536,2023,Saskatchewan,In-migrants,4595.0,5924.0,NaN,NaN
1537,2023,Saskatchewan,Out-migrants,6773.0,7841.0,NaN,NaN
1538,2023,Yukon,In-migrants,453.0,722.0,NaN,NaN
1539,2023,Yukon,Out-migrants,528.0,767.0,NaN,NaN

In [112]:
mig_wider_month.columns

Index(['year', 'GEO', 'Interprovincial migration', '01', '04', '07', '10'], dtype='object', name='month')

In [115]:
# How to make the data set longer/narrower

mig_wider_month.melt(id_vars = ['year', 'GEO', 'Interprovincial migration'], var_name = 'month', value_name = 'count')

      year               GEO Interprovincial migration month  count
0     1961           Alberta               In-migrants    01    NaN
1     1961           Alberta              Out-migrants    01    NaN
2     1961  British Columbia               In-migrants    01    NaN
3     1961  British Columbia              Out-migrants    01    NaN
4     1961          Manitoba               In-migrants    01    NaN
...    ...               ...                       ...   ...    ...
6155  2023            Quebec              Out-migrants    10    NaN
6156  2023      Saskatchewan               In-migrants    10    NaN
6157  2023      Saskatchewan              Out-migrants    10    NaN
6158  2023             Yukon               In-migrants    10    NaN
6159  2023             Yukon              Out-migrants    10    NaN

[6160 rows x 5 columns]

In [116]:
# 9. Add a new column using the data from the current data set & ifelse condition

In [117]:
mig_filtered.head()

   year month                        GEO Interprovincial migration  count
2  1961    07  Newfoundland and Labrador               In-migrants   2189
3  1961    07  Newfoundland and Labrador              Out-migrants   2160
4  1961    07       Prince Edward Island               In-migrants   1558
5  1961    07       Prince Edward Island              Out-migrants    862
6  1961    07                Nova Scotia               In-migrants   7281

In [118]:
# Q: how can we get the sum of the number of In/Out-migrants for each province/observation?

In [120]:
mig_in_out = mig_filtered.pivot(index = ['year', 'month', 'GEO'], columns = 'Interprovincial migration', values = 'count')

In [121]:
mig_in_out = mig_in_out.reset_index()

In [122]:
mig_in_out.head()

Interprovincial migration,year,month,GEO,In-migrants,Out-migrants
0,1961,07,Alberta,13124,11779
1,1961,07,British Columbia,12341,12224
2,1961,07,Manitoba,8640,8650
3,1961,07,New Brunswick,4828,6408
4,1961,07,Newfoundland and Labrador,2189,2160

In [130]:
# after pivoting, we can take the sum of the last two columns to obtain the total number of migrants per province/observation

mig_in_out['total_migrants'] = mig_in_out['In-migrants'] + mig_in_out['Out-migrants']

In [134]:
mig_in_out

Interprovincial migration,year,month,GEO,In-migrants,Out-migrants,total_migrants,total-migrants
0,1961,07,Alberta,13124,11779,24903,24903
1,1961,07,British Columbia,12341,12224,24565,24565
2,1961,07,Manitoba,8640,8650,17290,17290
3,1961,07,New Brunswick,4828,6408,11236,11236
4,1961,07,Newfoundland and Labrador,2189,2160,4349,4349
...,...,...,...,...,...,...,...
3019,2023,04,Ontario,25077,38930,64007,64007
3020,2023,04,Prince Edward Island,1906,1426,3332,3332
3021,2023,04,Quebec,9062,10049,19111,19111
3022,2023,04,Saskatchewan,5924,7841,13765,13765
3023,2023,04,Yukon,722,767,1489,1489

In [135]:
# q. I want to know for each province/observation whether there was positive influx of migrants or negative

mig_in_out['migrants_flux'] = np.where(mig_in_out['In-migrants']>mig_in_out['Out-migrants'], "positive", "negative")

In [136]:
mig_in_out.head()

Interprovincial migration,year,month,GEO,In-migrants,Out-migrants,total_migrants,total-migrants,migrants_flux
0,1961,07,Alberta,13124,11779,24903,24903,positive
1,1961,07,British Columbia,12341,12224,24565,24565,positive
2,1961,07,Manitoba,8640,8650,17290,17290,negative
3,1961,07,New Brunswick,4828,6408,11236,11236,negative
4,1961,07,Newfoundland and Labrador,2189,2160,4349,4349,positive

In [137]:
# 10. Derive conclusions from the data set

In [140]:
Q: Count the number of positive/negative flux of migrants by each province?

mig_in_out.groupby(['GEO', 'migrants_flux'])['month'].coun()

Object `province` not found.

GEO                                      migrants_flux
Alberta                                  negative          73
                                         positive         175
British Columbia                         negative          46
                                         positive         202
Manitoba                                 negative         226
                                         positive          22
New Brunswick                            negative         156
                                         positive          92
Newfoundland and Labrador                negative         195
                                         positive          53
Northwest Territories                    negative          98
                                         positive          30
Northwest Territories including Nunavut  negative          51
                                         positive          29
Nova Scotia                              negative         153
                                         positive          95
Nunavut                                  negative          91
                                         positive          37
Ontario                                  negative         122
                                         positive         126
Prince Edward Island                     negative         124
                                         positive         124
Quebec                                   negative         238
                                         positive          10
Saskatchewan                             negative         204
                                         positive          44
Yukon                                    negative          92
                                         positive         116
Name: month, dtype: int64